@import '../wolverine/variables.scss';

.page--container main {
    h2 {
        font-size: 24px;
        margin-bottom: 16px;
    }
    h3 {
        font-size: 18px;
        margin-bottom: 8px;
        font-weight: 400;
        
        strong {
            font-weight: 400;
        }
    }

    a.company-heading {
        display: flex;
        gap: 16px;
        align-items: center;
        margin-bottom: 64px;
        text-decoration: none;

        .inner {
            h1 {
                margin-bottom: 0px;
            }

            cite {
                font-size: 12px;
                color: $color-gray-500;
            }
        }

        &:hover {
            h1, cite {
                color: $color-primary-700;
            }
        }        
    }

    .description {
        margin-bottom: 32px;

        p + p {
            margin-top: 16px;
        }
        p + h3 {
            margin-top: 24px;
        }
        ul {
            padding-left: 24px;
        }
    }
}