.page--container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: auto;
    background-color: $color-gray-50;
    flex-direction: column;

    main {
        display: grid;
        grid-template-rows: max-content 1fr;
        width: 100%;
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
        gap: 16px;
        
        h1 {
            font-weight: 500;
            font-size: 30px;
            color: $color-gray-900;
        }
        h3 {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 4px;
            color: $color-gray-900;
        }
        h4 {
            font-weight: 500;
            font-size: 14px;
            color: $color-gray-700;
        }
        p {
            font-weight: 400;
            font-size: 14px;
            color: $color-gray-500;
        }

        hr.divider {
            border-color: $color-gray-200;
            border-style: solid;
            border-bottom: none;
        }


        .placeholder {
            h1, h3, h4, p {
                width: 100%;
                background-color: $color-gray-200;
                border-radius: 4px;
                color: transparent;
            }
            p { height: 14px; }
            p + p { margin-top: 4px; }
            .tag {
                width: 60px;
                height: 20px;
                background-color: $color-gray-200;
                border-radius: 12px;
                color: transparent;
            }
        }
    }


    aside.container {
        height: max-content;
    }
    .search-grid {
        display: grid;
        grid-template-columns: 1fr;
        flex-grow: 1;

        .container {
            margin-bottom: 24px;
        }
    }

    // @media (min-width: $breakpoint-tablet) {
    //     .search-grid {
    //         grid-template-columns: 1fr 240px;
    //         gap: 16px;
    //     }
    // }

    
}