.page--container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: auto;
    background-color: $color-gray-50;
    flex-direction: column;

    main.main-container {
        display: grid;
        grid-template-rows: max-content;
        width: 100%;
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
        gap: 16px;
    }

    main.background {
        background-color: white;
        padding-bottom: 64px;
        padding-top: 64px;
        // min-height: calc(100vh - 188px);

        .content {
            width: 100%;
            max-width: 980px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    main {
        padding-bottom: 32px;
        padding-top: 32px;
        
        p + h2 {
            margin-top: 32px;
        }

        h1 {
            font-weight: 500;
            font-size: 30px;
            color: $color-gray-900;
            margin-bottom: 24px;
        }
        h2 {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 8px;
            color: $color-gray-900;
        }
        h4 {
            font-weight: 500;
            font-size: 14px;
            color: $color-gray-700;
        }
        p {
            font-weight: 400;
            font-size: 14px;
            color: $color-gray-500;
        }

        hr.divider {
            border-color: $color-gray-200;
            border-style: solid;
            border-bottom: none;
        }


        .placeholder {
            h1, h2, h3, h4, p, span, cite {
                width: 100%;
                background-color: $color-gray-200;
                border-radius: 4px;
                color: transparent;
            }
            p { height: 14px; }
            p + p { margin-top: 4px; }
            .tag {
                width: 60px;
                height: 20px;
                background-color: $color-gray-200;
                border-radius: 12px;
                color: transparent;
            }
        }
    }


    aside.container {
        height: max-content;
    }
    .search-grid {
        display: grid;
        grid-template-columns: 1fr;
        flex-grow: 1;

    }

    @media (max-width: $breakpoint-desktop) {
        main.background {
            padding: 32px 16px;
        }
    }

    
}