.time-off.inner-modal {
    display: flex;
    flex-direction: column;
    width: 725px;
    height: 468px;

    .content {
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .calendar + .calendar {
            border-left: 1px solid $color-gray-200;;
        }
    }

    .footer {
        display: flex;
        border-top: 1px solid $color-gray-200;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        padding: 16px;

        .divider {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $color-gray-400;
        }
    }
}
