---
const {src, alt, type=""} = Astro.props;
---
<div class={ `company--logo lazy-img ${type}` }>
	<img onload="this.classList.add('loaded')" src={src} alt={alt} />
	<img src="/public/static/logo.png" class="fallback" alt="" />
</div>
<style lang="scss">
	.company--logo {
		width: 42px;
		height: 42px;
		background-color: var(--color-gray-200);
		border-radius: 50%;
		overflow: hidden;
		transition: background-color 200ms ease;

		&.big {
			width: 80px;
			height: 80px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			&.fallback {
				filter: grayscale(1) brightness(0) var(--filter-gray-500);
				transition: filter 300ms ease;
			}
		}
	}
</style>
