---
import TableFooter from "./TableFooter.astro";
---
<div class="table">
  (% if object_list %)
    (% for object in object_list %)<slot />(% endfor %)
  (% else %)
    <div class="no-results">
      <img src="/public/static/icons/search-lg.svg">
      No results found...
    </div>
  (% endif %)
  <TableFooter />
</div>
<style lang="scss">
  .table {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--color-base-white);
    border: 1px solid var(--color-gray-200);
    border-radius: 8px;
    box-shadow:
      0px 1px 3px rgba(16, 24, 40, 0.1),
      0px 1px 2px rgba(16, 24, 40, 0.06);
    overflow: hidden;
    min-height: 504px;
    box-shadow: none;
    border-color: var(--color-gray-300);

    &.no-min-height {
      min-height: unset;
    }

    &.search {
      height: max-content;
      min-height: 0;
      flex-direction: row;
      gap: 16px;
      padding: 8px;

      .input--container {
        flex-grow: 1;
      }
    }

    .no-results {
      top: calc(50% - 20px);
      left: 50%;
      margin: auto;
      margin: auto;
      display: flex;
      display: flex;
      position: absolute;
      text-align: center;
      align-items: center;
      justify-content: center;
      transform: translate(-50%, -50%);
      gap: var(--general-spacing-xs);
      color: var(--color-gray-500);
      font-size: 14px;
      font-weight: 300;
      text-decoration: none;
    }

    @media (max-width: var(--breakpoint-desktop)) {
      border: none;
      border-radius: 0%;
    }
  }
</style>
