---
import CompanyLogo from "./CompanyLogo.astro";
import Badge from "./Badge.astro";
---

<a
  class="jobpost--item"
  href="(( object.origin_url ))?ref=www.joblinker.site&source=www.joblinker.site"
>
  <div class="meta">
    <CompanyLogo src="(% if object.company.logo %)(( object.company.logo.url ))(% endif %)" alt="(( object.company.name )) logo" />
    <div class="inner">
      <span>(( object.company.name ))</span>
      <cite>(( object.origin_url ))</cite>
    </div>
  </div>
  <div>
    <h2>(( object.title ))</h2>
    <p>(( object.description | striptags | truncatechars:200 ))</p>

    (% if object.categories %)
      <div class="tags">
        (% for category in object.categories.all %)
        <Badge>(( category.name ))</Badge>
        (% endfor %)
      </div>
    (% endif %)
  </div>
</a>

<style lang="scss">
  .jobpost--item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 16px;
    transition: background-color 300ms ease;
    text-decoration: none;
    border-top: 1px solid var(--color-gray-200);

    .meta {
      display: grid;
      align-items: center;
      grid-template-columns: 42px 1fr;
      gap: 8px;

      .inner {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        cite {
          color: var(--color-gray-500);
          font-size: 12px;
          line-height: 1.2;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        span {
          color: var(--color-gray-700);
          font-size: 14px;
          line-height: 1.5;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-weight: 500;
        }
      }
    }

    h2 {
      font-size: var(--general-font-md);
      margin-bottom: var(--general-spacing-xs);
    }

    &:nth-child(1) {
      border-top: none;
    }

    &:nth-child(2n) {
      background-color: var(--color-gray-50);
    }

    &:not(.placeholder):hover {
      background-color: var(--color-primary-100);
      text-decoration: none;

      .company--logo {
        background-color: var(--color-primary-200);

        img.fallback {
          filter: grayscale(1) brightness(0) var(--filter-primary-700) opacity(1);
        }
      }

      h1,
      h2,
      h4,
      span,
      cite,
      p,
      .tag {
        color: var(--color-primary-700);
      }
    }

    h1,
    h2,
    h4,
    span,
    cite,
    p,
    .tag {
      transition: color 300ms ease;
    }

    .tags {
      display: flex;
      margin-top: 16px;
      gap: 4px;
      flex-wrap: wrap;
    }
  }
</style>
