---
import Layout from "../../layouts/Layout.astro";
---
<Layout>
    <main class="bg-white">
        <div class="container">
            (% url 'account_login' as action_url %)
            <form action="(( action_url ))" method="post">
                (% csrf_token %)
                <div class="login box">
                    <h1>Sign In</h1>
                    <div class="input--container">
                        <strong>Username</strong>
                        <label class="input">
                            (( form.login ))
                        </label>
                        <span class="error--label">
                            (( form.login.errors | first ))
                            (( form.non_field_errors | first ))
                        </span>
                    </div>
                    <div class="input--container">
                        <strong>Password</strong>
                        <label class="input">
                            (( form.password ))
                        </label>
                        <span class="error--label">
                            (( form.password.errors | first ))
                        </span>
                    </div>
                    <button class="button--primary" type="submit">Log In</button>
                    <small>New to the site? <a href="(% url 'account_signup' %)">Click here</a> to sign up and explore more!</small>
                </div>
            </form>
        </div>
    </main>
</Layout>

<style lang="scss">
    main {
        display: flex;
        align-items: center;
    }
    .login {
        margin: 0 auto;
        min-height: 300px;
        max-width: 400px;
        box-shadow: none;
        padding: var(--general-spacing-md);

        h1 {
            margin-bottom: var(--general-spacing-lg);
        }

        .input--container {
            margin-bottom: var(--general-spacing-md);
        }

        small {
            margin-top: var(--general-spacing-md);
            font-size: var(--general-font-xs-2);

            a {
                font-size: var(--general-font-xs-2);
                color: var(--color-primary-500);
                text-decoration: underline;
            }
        }
    }
</style>
