---
import Layout from '../../layouts/Layout.astro';
---
(% load allauth i18n socialaccount %)
<Layout>
    <main class="bg-white">
        <div class="container">
            (% url 'account_signup' as action_url %)
            <form action="(( action_url ))" method="post">
                (% csrf_token %)
                <div class="signup box">
                    <h1>Sign Up</h1>
                    <div class="input--container">
                        <strong>Username</strong>
                        <label class="input">
                            (( form.username ))
                        </label>
                        <span class="error--label">
                            (( form.username.errors | first ))
                        </span>
                    </div>
                    <div class="input--container">
                        <strong>Email</strong>
                        <label class="input">
                            (( form.email ))
                        </label>
                        <span class="error--label">
                            (( form.email.errors | first ))
                        </span>
                    </div>
                    <div class="input--container">
                        <strong>Password</strong>
                        <label class="input">
                            (( form.password1 ))
                        </label>
                        <small class="error--label">
                            (( form.password1.errors | first ))
                        </small>
                    </div>
                    <div class="input--container">
                        <strong>Confirm Password</strong>
                        <label class="input">
                            (( form.password2 ))
                        </label>
                        <span class="error--label">
                            (( form.password2.errors | first ))
                        </span>
                    </div>
                    <button class="button--primary" type="submit">Create Account</button>
                    <small>Have an account? <a href="(% url 'account_login' %)">Click here</a> to log in and explore more!</small>
                </div>

            </form>
        </div>
    </main>
</Layout>
<style lang="scss">
    main {
        display: flex;
        align-items: center;
    }
    .signup {
        margin: 0 auto;
        min-height: 400px;
        max-width: 400px;
        box-shadow: none;
        padding: var(--general-spacing-md);


        h1 {
            margin-bottom: var(--general-spacing-lg);
        }

        .input--container {
            margin-bottom: var(--general-spacing-md);
        }

        small {
            margin-top: var(--general-spacing-md);
            font-size: var(--general-font-xs-2);
            
            a {
                font-size: var(--general-font-xs-2);
                color: var(--color-primary-500);
                text-decoration: underline;
            }
        }
    }
</style>
