.slideout--menu {
    top: 0;
    right: -425px;
    width: 400px;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: $color-base-white;
    box-shadow:
        0px 20px 24px -4px rgba(16, 24, 40, 0.08),
        0px 8px 8px -4px rgba(16, 24, 40, 0.03);

    border-left: 1px solid $color-gray-200;
    overflow-y: auto;
    z-index: 10;
    gap: 24px;
    transition: right 300ms ease;

    &.active { right: 0; }

    .heading {
        display: flex;
        padding: 24px;
        position: relative;
        padding-bottom: 0px;
        flex-direction: column;
        gap: 4px;

        img.close--button {
            position: absolute;
            top: 24px;
            right: 24px;
            cursor: pointer;
            z-index: 1;
        }

        h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: $color-gray-900;
        }
        h4 {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $color-gray-400;
        }
    }

    .footer {
        display: flex;
        padding: 16px 24px;
        justify-content: end;
        border-top: 1px solid $color-gray-200;
        gap: 12px;
        margin-top: auto;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding-left: 24px;
        padding-right: 24px;
        gap: 16px;
    }
}
