header {
    padding: $general-spacing-md 0;
    max-width: $breakpoint-desktop;
    margin-left: auto;
    margin-right: auto;
    gap: $general-spacing-sm;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container.search {
        max-width: 50%;
        background-color: transparent;
        box-shadow: none;
        border: none;
        padding: 0;
    }

    .links {
        display: flex;
        align-items: center;
        gap: $general-spacing-sm;
    }

    @media (max-width: $breakpoint-desktop) {
        flex-direction: column;

        .container.search {
            max-width: none;
            width: 100%;
            padding: $general-spacing-sm;
        }
    }
}