.badge {
    width: max-content;
    height: max-content;
    gap: 4px;
    display: flex;
    font-size: 12px;
    padding: 2px 8px;
    font-weight: 500;
    align-items: center;
    border-radius: 16px;
    background-color: $color-primary-50;
    color: $color-primary-700;

    img {
        width: 12px;
        height: 12px;

        filter: $filter-primary-700
    }

    &.success {
        background-color: $color-success-50;
        color: $color-success-700;

        img {
            filter: $filter-success-700;
        }
    }

    &.pending {
        background-color: $color-gray-50;
        color: $color-gray-500;

        img {
            filter: $filter-gray-500;
        }
    }

    &.cancel {
        background-color: $color-error-50;
        color: $color-error-700;

        img {
            filter: $filter-error-700;
        }
    }
}
