// VARIABLES
// ---------------------------------
$breakpoint-tablet: 768px;
$breakpoint-desktop: 980px;

// COLORS:
$color-base-white: #FFFFFF;

$color-gray-50: #F9FAFB;
$color-gray-100: #F2F4F7;
$color-gray-200: #EAECF0;
$color-gray-300: #D0D5DD;
$color-gray-400: #98A2B3;
$color-gray-500: #667085;
$color-gray-600: #475467;
$color-gray-700: #344054;
$color-gray-800: #333333;
$color-gray-900: #101828;

$color-primary-50: #EFF8FF;
$color-primary-100: #D1E9FF;
$color-primary-200: #B2DDFF;
$color-primary-300: #84CAFF;
$color-primary-500: #2E90FA;
$color-primary-600: #1570EF;
$color-primary-700: #175CD3;

$color-success-50: #ECFDF3;
$color-success-500: #12B76A;
$color-success-700: #027A48;

$color-error-25: #FFFBFA;
$color-error-50: #FEF3F2;
$color-error-100: #FEE4E2;
$color-error-300: #FDA29B;
$color-error-600: #D92D20;
$color-error-700: #B42318;

// FILTERS:
$filter-base-white: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(163deg) brightness(100%) contrast(103%);
$filter-primary-700: invert(16%) sepia(86%) saturate(6019%) hue-rotate(216deg) brightness(98%) contrast(82%);
$filter-gray-300: invert(83%) sepia(4%) saturate(346%) hue-rotate(178deg) brightness(101%) contrast(96%);
$filter-gray-500: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(350%) hue-rotate(182deg) brightness(92%) contrast(87%);
$filter-success-700: brightness(0) saturate(100%) invert(29%) sepia(73%) saturate(921%) hue-rotate(116deg) brightness(98%) contrast(98%);
$filter-error-700: invert(25%) sepia(85%) saturate(2579%) hue-rotate(349deg) brightness(71%) contrast(100%);

// BORDER RADIUS:
$border-radius-md: 8px;

// BREAKPOINTS
$breakpoint-tablet: 740px;

// SPACING:
$general-spacing-xs: 8px;
$general-spacing-sm: 16px;
$general-spacing-md: 24px;
$general-spacing-lg: 32px;
$general-spacing-xl-1: 64px;
$general-spacing-xl-2: 128px;

// TYPOGRAPHY:
$general-font-xs-2: 12px;
$general-font-xs-1: 14px;
$general-font-sm: 16px;
$general-font-md: 18px;
$general-font-lg: 20px;
$general-font-xl-1: 24px;
$general-font-xl-2: 30px;
