---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Frequently Asked Questions (FAQ) - Job Linker Site">
    <main class="bg-white">
        <div class="container">
            <h1>Frequently Asked Questions (FAQ)</h1>
            <p>
                Welcome to JobLinker! We're delighted to have you here. Whether you're a seasoned user or exploring our platform for the first time, this FAQ page is designed to provide you with comprehensive answers to common queries and help you navigate through the features and functionalities of our job search engine.
            </p>

            <h2>What is JobLinker?</h2>
            <p>
                JobLinker is a user-friendly job search engine designed to simplify the job search process. Much like popular search engines such as Google or Bing, JobLinker aggregates job postings from various sources, providing you with a one-stop platform to discover diverse job opportunities. 
            </p>
            <p>
                Unlike traditional job portals, JobLinker's focus is on delivering a seamless and efficient search experience by directing you to job posts from different sources across the web. Please note that JobLinker does not support direct job applications on the platform. Instead, it displays links to job posts that match your profile.
            </p>
            <h2>How do I create an account on JobLinker?</h2>
            <p>
                To create an account on JobLinker, Follow the on-screen instructions to sign up by linking your LinkedIn account.
            </p>
            <h2>Is JobLinker free to use?</h2>
            <p>
                Yes. At the moment, JobLinker is entirely free for job seekers. There are no hidden charges or subscription fees. Our focus is on providing a user-friendly platform for effective job searching.
            </p>
            <h2>How do I search for jobs on JobLinker?</h2>
            <p>
                Once your account is set up, utilize the search feature to find jobs based on keywords, location, industry, or job type. JobLinker also provides personalized job recommendations based on your profile and preferences.
            </p>
            <h2>How do I apply for a job on JobLinker?</h2>
            <p>
                Since JobLinker functions as a search engine, you won't apply for jobs directly on the platform. When you find a job you're interested in, click on the provided link to access the original job post on the source website. Be sure to review the job posting for any specific application instructions or additional requirements from the employer.
            </p>
            <h2>Can employers see my personal contact information?</h2>
            <p>
                No, your personal contact information is kept confidential.
            </p>
            <h2>Can I edit my profile after creating it?</h2>
            <p>
                Certainly! You have the flexibility to edit your profile at any time. Navigate to the "Profile" section in the app to update your information, skills, or resume as needed.
            </p>
            <h2>Is JobLinker available in multiple languages?</h2>
            <p>
                At the moment, JobLinker is available in English only. However, we are actively exploring options to expand language support in the future.
            </p>
            <h2>How do I report a technical issue or provide feedback?</h2>
            <p>
                If you encounter any technical issues or wish to share feedback, contact our support team through the "Help" or "Contact Us" section within the app. We value your input and are committed to enhancing the JobLinker experience.
            </p>
            <p>
                If you have additional questions, feel free to reach out to our support team. Thank you for choosing JobLinker as your job search companion!
            </p>
        </div>
    </main>
</Layout>