* {
    font-size: var(--general-font-xs-1);
    color: var(--color-gray-500);
    text-decoration: var(--text-decoration-none);
}

a:hover {
    text-decoration: var(--text-decoration-underline);
}


h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-400);
    color: var(--color-gray-900);
    margin-bottom: var(--general-spacing-sm);
    line-height: 1.2;
}

details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}

h1 { font-size: var(--general-font-xl-2); }
h2 { font-size: var(--general-font-lg); }
h3 { font-size: var(--general-font-md); }
h4 { font-size:  var(--general-font-sm); }
h5 { font-size:  var(--general-font-xs-1); }
h6 { font-size:  var(--general-font-xs-2); }
p {
    font-weight: var(--font-weight-300);
    font-size: var(--general-font-xs-1);
    color: var(--color-gray-500);
    line-height: 1.5;

    & + h2 {
        margin-top: var(--general-spacing-lg);
    }
    & + p {
        margin-top: var(--general-spacing-md);
    }
}

.input {
    input[type=url],
    input[type=text],
    input[type=date],
    input[type=password],
    input[type=datetime-local],
    input[type=time],
    input[type=number],
    input[type=email] {
        font-size: var(--general-font-xs-1);
        font-weight: var(--font-weight-300);
    }
}

.button--primary {
    font-size: var(--general-font-xs-1);
    font-weight: var(--font-weight-300);
}

.text-center {
    text-align: center;
}
